-var title = "Фото-книга"
include common/_head
body
  .wrapper.bg
    .form-container
      .welcome__header Добро пожаловать
      .welcome__desc Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
      .form
        form(action="#" method="post").form-login
          .form__input
            +icon('envelope', 16,'icon-fill')
            input(type="email" name="email" placeholder="Электронная почта")
          .form__input
            +icon('password', 16,'icon-fill')
            input(type="password" name="pass" placeholder="Пароль")
          a.form__link.form__link_reset(href="forget.html") Забыли пароль?
          .form__error Email или пароль неверен
          input.form__btn(type="submit" value="Войти")
          .form__text Нет аккаунта? 
            a.form__link(href="register.html") Зарегистрироваться
    .welcome__copyright 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool