.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-add {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-album {
  font-size:(18.182/10)*1rem;
  width:(20/18.182)*1em;
}
.icon-arrow_left {
  font-size:(26.015/10)*1rem;
  width:(15.969/26.015)*1em;
}
.icon-arrow_right {
  font-size:(25.859/10)*1rem;
  width:(15.844/25.859)*1em;
}
.icon-cam {
  font-size:(32/10)*1rem;
  width:(40/32)*1em;
}
.icon-close {
  font-size:(26.015/10)*1rem;
  width:(26.392/26.015)*1em;
}
.icon-comments {
  font-size:(17.209/10)*1rem;
  width:(20/17.209)*1em;
}
.icon-delete {
  font-size:(15.139/10)*1rem;
  width:(12/15.139)*1em;
}
.icon-edit {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-envelope {
  font-size:(13/10)*1rem;
  width:(15/13)*1em;
}
.icon-heart {
  font-size:(16.858/10)*1rem;
  width:(20/16.858)*1em;
}
.icon-home {
  font-size:(21.696/10)*1rem;
  width:(20/21.696)*1em;
}
.icon-like {
  font-size:(16.858/10)*1rem;
  width:(20/16.858)*1em;
}
.icon-loupe {
  font-size:(40.001/10)*1rem;
  width:(39.985/40.001)*1em;
}
.icon-more {
  font-size:(4.25/10)*1rem;
  width:(17/4.25)*1em;
}
.icon-name {
  font-size:(16.102/10)*1rem;
  width:(15/16.102)*1em;
}
.icon-no_like {
  font-size:(19.858/10)*1rem;
  width:(23/19.858)*1em;
}
.icon-off {
  font-size:(15/10)*1rem;
  width:(14.895/15)*1em;
}
.icon-password {
  font-size:(17/10)*1rem;
  width:(15/17)*1em;
}
.icon-search {
  font-size:(14.988/10)*1rem;
  width:(14.994/14.988)*1em;
}
.icon-soc_email {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-soc_fb {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-soc_twitter {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-soc_vk {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-social_google {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-top {
  font-size:(20.953/10)*1rem;
  width:(26.703/20.953)*1em;
}
