$background-color: #ececec;

//buttons
$btn-blue-color: #28bbf0;
$btn-blue-hover-color: #24b0e3;
$btn-red-color: #ee4634;
$btn-red-hover-color: #d94130;

//icons
$icon-color: #d6d6d6;
$icon-color-hover: #28bbf0;

$error-color: #ffe3e3;

$gray-color: #6d6d6d;